@import 'src/styles/variables';

:host {
  display: block;
  border-bottom: 1px solid $black-color-lightest;
  margin: 16px 16px;
  padding: 0 16px 16px 8px;
}

.content-container-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-container {
  display: flex;
  align-items: center;
}

.percentage {
  font-family: $lato-font-family;
  color: $black-color-light;
  font-weight: 500;
  font-size: 20px;
}

.progress-bar-dark {
  margin-top: -4px;
  background-color: #00d592;
  border-radius: 2px;
  height: 4px;
  z-index: 10;
}

.progress-bar-light {
  margin-top: 32px;
  width: 100%;
  background-color: #00d592;
  opacity: 0.24;
  border-radius: 2px;
  height: 4px;
}

.progress-text {
  font-size: 14px;
  color: $black-color-light;
  margin-left: 28px;
}
