@import 'src/styles/variables';

:host {
  display: block;
  position: relative;
}

input {
  all: unset;
  width: 304px;
  height: 50px;
  padding-right: 48px;
  font-size: 20px;
  font-family: $bitter-font-family;
  color: rgba($black-color, 0.8);
  font-weight: 400;
  caret-color: $primary-color;

  &::placeholder {
    color: rgba($black-color-lightest, 0.3);
  }
}

.focus {
  border-bottom: 2px solid $primary-color;
}

.blur {
  border-bottom: 2px solid $black-color-light;
}

button {
  all: unset;
  position: absolute;
  top: 12px;
  left: 308px;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: $black-color-lightest;
  }

  &:before {
    font-size: 24px;
  }
}
