@import 'src/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: $bitter-font-family;
  font-size: 20px;
  font-weight: bold;
}

.grouped-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grouped-container-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #b3e5fc;
  border-radius: 8px;
  padding: 8px;
}

.noun-condition-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.immediately {
  color: black;
  background-color: $black-color-lightest;
  padding: 8px 8px;
  border-radius: 3px;
}

.item-with-back-button {
  display: flex;
  align-items: center;

  condition-form-back-button {
    margin-left: 2px;
  }
}

.margin-top {
  margin-top: 8px;
}
