@import 'src/styles/variables';

:host {
  display: block;
  min-width: 280px;
  max-width: 500px;
  min-height: 176px;
  max-height: 50vh;
  padding: 24px 24px 8px 24px;
}

.unique-name {
  font-size: 12px;
  margin-top: 16px;
  color: rgba($black-color, 0.64);
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #f9fafb;
  margin-top: 16px;
  height: 54px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 2px solid $primary-color;
  padding: 0 16px;
  margin-bottom: 4px;

  input {
    all: unset;
    width: 100%;
    caret-color: $primary-color;
  }
}

.mat-form-field-wrapper {
  padding: none !important;
}

.dialog-title {
  font-size: 16px;
  color: rgba($black-color, 0.8);
  font-family: $lato-font-family;
  margin-bottom: 8px;
}

.error {
  visibility: hidden;
  font-family: $lato-font-family;
  font-size: 12px;
  color: $error-color;
  margin-left: 8px;
}

.show {
  visibility: visible;
}

.footer {
  padding: 16px 8px 8px 8px;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 8px;
  width: 72px;
}
