<div class="privileges-wrap">
  <header>
    <h2>Privileges</h2>
    <button mat-mini-fab color="primary" (click)="createPrivilege()" class="iconed-button" *ngIf="canEditPrivileges">
      <mat-icon aria-label="add new privilege">add</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab color="accent" (click)="getPrivileges()" class="iconed-button">
      <mat-icon>refresh</mat-icon>
    </button>
  </header>
  <main>
    <table mat-table [style.width.%]="100" [dataSource]="dataSource | async" class="mat-elevation-z8">
      <!-- PrivilegeName Column -->
      <ng-container matColumnDef="PrivilegeName">
        <th mat-header-cell *matHeaderCellDef>Privilege Name</th>
        <td mat-cell *matCellDef="let element">
          <div class="title-block-wrap">
            {{ element.name }}
          </div>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="actions-block-wrap" *ngIf="canEditPrivileges">
            <mat-icon [matTooltip]="'Edit Privilege'" (click)="onEditPrivilege(element, $event)">edit</mat-icon>
             
            <mat-icon [matTooltip]="'Remove Privilege'" (click)="onDeletePrivilege(element.id, $event)"
              >delete</mat-icon
            >
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </main>
</div>
