@import 'src/styles/variables';

:host {
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $black-color-lightest;
}

h1 {
  -webkit-font-smoothing: antialiased;
  font-family: $bitter-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.15px;
  opacity: 0.87;
  color: rgba(35, 35, 47, 0.8);
  padding-left: 32px;
  margin: 0;
}
