@import 'src/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-group {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: $black-color-light;
  cursor: pointer;
  font-family: Bitter, serif;
  font-size: 14px;
  height: 48px;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $primary-color-lightest;
    color: $black-color;
  }

  &.active {
    color: $black-color;
    font-weight: bold;
  }
}

.sidebar-group-icon {
  margin: 4px;
}

.sidebar-group-text {
  flex-grow: 1;
}
