<div class="modal taskClaimModal">
  <div class="modal-content">
    <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/success_banner.png" alt="Success" />
      <mat-card-content class="textCenter">
        <h2>Success! The rule has been run.</h2>
        <p>Any changes to the sked will appear within the next 5 minutes.</p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
      <div class="textCenter">
        <button mat-raised-button color="primary" class="closeButton" (click)="closeSuccessModalClick()">Close</button>
      </div>
    </mat-card>
  </div>
</div>
