<div class="cron-wrap" *ngIf="!config?.bootstrap" [formGroup]="cronJobsForm">
  <span>Every </span>
  <mat-form-field appearance="outline">
    <mat-select
      class="cron-select"
      formControlName="baseFrequency"
      (blur)="onBlur()"
      [ngClass]="{'is-valid': getIsValid(), 'is-invalid': getIsInvalid()}"
    >
      <mat-option *ngFor="let item of baseFrequencyData" [value]="item.value">{{ item.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="select-options">
    <span *ngIf="(baseFrequency$ | async) === 4">on </span>
    <div *ngIf="(baseFrequency$ | async) === 4" class="cron-select-wrap">
      <mat-form-field appearance="outline">
        <mat-select
          multiple
          [multiple]="config.multiple"
          class="cron-select day-of-week-value"
          (blur)="onBlur()"
          [ngClass]="{'is-valid': getIsValid(), 'is-invalid': getIsInvalid()}"
          formControlName="daysOfWeek"
        >
          <mat-option *ngFor="let item of daysOfWeekData" [value]="item.value">{{ item.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span *ngIf="(baseFrequency$ | async) >= 5">on the </span>
    <div *ngIf="(baseFrequency$ | async) >= 5" class="cron-select-wrap">
      <mat-form-field appearance="outline">
        <mat-select
          multiple
          [multiple]="config.multiple"
          class="cron-select day-of-month-value"
          (blur)="onBlur()"
          [ngClass]="{'is-valid': getIsValid(), 'is-invalid': getIsInvalid()}"
          formControlName="daysOfMonth"
        >
          <mat-option *ngFor="let item of daysOfMonthData" [value]="item.value">{{ item.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span *ngIf="(baseFrequency$ | async) === 6">of </span>
    <div *ngIf="(baseFrequency$ | async) === 6" class="cron-select-wrap">
      <mat-form-field appearance="outline">
        <mat-select
          multiple
          [multiple]="config.multiple"
          class="cron-select month-value"
          (blur)="onBlur()"
          [ngClass]="{'is-valid': getIsValid(), 'is-invalid': getIsInvalid()}"
          formControlName="months"
        >
          <mat-option *ngFor="let item of monthsData" [value]="item.value">{{ item.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span *ngIf="(baseFrequency$ | async) >= 3">at </span>
    <div *ngIf="(baseFrequency$ | async) >= 3" class="cron-select-wrap">
      <mat-form-field appearance="outline">
        <mat-label>Hours</mat-label>
        <mat-select
          multiple
          [multiple]="config.multiple"
          class="cron-select hour-value"
          (blur)="onBlur()"
          [ngClass]="{'is-valid': getIsValid(), 'is-invalid': getIsInvalid()}"
          formControlName="hours"
        >
          <mat-option *ngFor="let item of hoursData" [value]="item.value">{{ item.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span *ngIf="(baseFrequency$ | async) >= 3"> : </span>
    <div *ngIf="(baseFrequency$ | async) >= 2" class="cron-select-wrap">
      <mat-form-field appearance="outline">
        <mat-label>Minutes</mat-label>
        <mat-select
          multiple
          [multiple]="config.multiple"
          class="cron-select minute-value"
          (blur)="onBlur()"
          [ngClass]="{'is-valid': getIsValid(), 'is-invalid': getIsInvalid()}"
          formControlName="minutes"
        >
          <mat-option *ngFor="let item of minutesData" [value]="item.value">{{ item.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span *ngIf="(baseFrequency$ | async) === 2"> past the hour</span>
  </div>
</div>
