@import 'src/styles/variables';

:host {
  display: block;
  margin: 8px 0;
}

.mat-select {
  padding: 0 8px;
  font-family: $bitter-font-family;
  font-weight: bold;
}

.and {
  background-color: #f9cfc0;
}

.or {
  background-color: #b3e5fc;
}
