// Import library functions for theme creation.
@import '../../../../node_modules/@angular/material/theming';

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin candy-toolbar-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .candy-toolbar {
    // Use mat-color to extract individual colors from a palette.
    // background: linear-gradient(14deg, #0d47a1, #1050a8, #1a71c5, #1e7dcf);
    // border-color: mat-color($accent, A400);
    // color: white;
    //
    // button {
    //   height: 69px;
    // }
  }
}

@mixin candy-toolbar-typography($config) {
  .candy-toolbar {
    font: {
      family: mat-font-family($config, body-1);
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    }
  }
}
