@import 'src/styles/variables';

:host {
  display: block;
  padding: 0 16px 80px 16px;
}

.card-container-grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 16px;
  align-items: center;
}

.card-container-masonry-layout {
  columns: 6 320px;
  column-gap: 16px;
  width: 100%;
}

.card-container-row-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 360px));
  grid-column-gap: 16px;
}

task-card {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.horizontal-divider {
  border-bottom: 1px solid $border-color;
  margin: 16px 0 4px 0;
}

.mat-paginator {
  background-color: #f9fafb;
}

@media (max-width: $mobile-breakpoint) {
  .card-container {
    justify-content: center;
  }
}
