:host {
  display: block;
}

table {
  margin-top: 48px;
  width: 724px;
  max-width: 100%;
  box-shadow: none;
}

.menu-button {
  all: unset;
  cursor: pointer;
}

.menu {
  visibility: hidden;
  // border: 1px solid red;
}

.show-menu {
  visibility: visible;
}
