.oph-menu {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 8px 24px 0 rgba(92, 92, 92, 0.1), 0 0 12px 2px rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  padding: 8px 0;
  width: 100%;
}
