@import 'src/styles/variables';

:host {
  display: block;
}

table {
  width: 100%;
}

table td {
  color: #949499;
}

.mat-row:hover {
  box-shadow: 0px 2px 4px rgba(35, 35, 47, 0.04), 0px 3px 4px rgba(35, 35, 47, 0.04), 0px 1px 5px rgba(35, 35, 47, 0.12);
}

.menu-button-hidden {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
}

.menu-button-visible {
  visibility: visible;
  display: flex;
  justify-content: flex-end;
}

.ophanello {
  color: #949499;
  margin-right: 8px;
  &:before {
    font-size: 24px;
  }
}

tr.task-detail-row {
  height: 0;
}

.task-element-detail {
  overflow: hidden;
  display: flex;
}

.detail-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 12px 0 16px 32px;
}

.detail-item {
  margin: 5px 2px 5px 2px;
}

.detail-item-text {
  margin: 3px;
}

.long-filter-width {
  width: 180px;
}

.short-filter-width {
  width: 80px;
}
