.modal-content {
  max-width: 300px;
  padding: 0;
  border-radius: 20px;
  margin-top: 200px;
}

.example-card {
  max-width: 300px;
}

.textCenter {
  text-align: center;
}

.buttonBox {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}
