@import 'src/styles/variables';

:host {
  display: flex;
  color: $black-color;
  cursor: pointer;
  font-family: $lato-font-family;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;

  &:hover {
    background-color: $primary-color-lightest;
  }
}

.mat-checkbox {
  margin: 0 12px;
}
