<div class="role-details-wrap">
  <mat-card
    *ngIf="{role: role$ | async, checkedMap: checkedMap$ | async, privileges: privileges$ | async} as state"
    class="example-card"
  >
    <form [formGroup]="form">
      <mat-card-content>
        <h2>{{ state.role?.id ? 'Edit' : 'Create New' }} Role</h2>
        <!--============ Basic Role Info ==================-->
        <h3>Role Name</h3>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="displayName" name="displayName" placeholder="Role Name" required />
        </mat-form-field>
        <br />
        <!--============ Recipes, Subroles ==================-->
        <h3>Role Privileges</h3>
        <div class="checkbox-container">
          <mat-checkbox
            *ngFor="let p of state.privileges"
            class="mat-checkbox"
            (change)="onCheckboxClick($event.checked, p)"
            [checked]="!!state.checkedMap[p.id]"
            >{{ p.name }}</mat-checkbox
          >
        </div>
      </mat-card-content>
      <!--============= Submit/Cancel =============-->
      <mat-card-actions>
        <button
          type="submit"
          class="mr"
          mat-raised-button
          color="primary"
          (click)="onSave()"
          [disabled]="invalid$ | async"
        >
          Save Role
        </button>
        <button type="button" mat-raised-button color="warn" (click)="goBack()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
