.collapsed {
  width: 38px;
  background-color: #eaeff4;
  height: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  margin-top: 20px;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-color: rgba(#23232f, 0.05);
}
