@import 'src/styles/variables';

:host {
  display: block;
}

button {
  all: unset;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;

  &:hover {
    background-color: $black-color-lightest;
  }
}
