h2 {
  display: inline;
  margin-right: 0.5rem;
}

header {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

/* .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
} */

.mat-row,
.mat-header-row {
  display: table-row;
}

/* .mat-list-item {
  border: solid green;
} */

.buttonContainer {
  display: flex;
  /* padding: 0px 20px 0px 20px; */
  justify-content: space-between;
  width: 500px;
}

@media only screen and (max-width: 767px) {
  /* .mat-list-item-content {
    height: 200px !important;
    flex-direction: column !important;
  } */

  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-option .mat-list-item-content {
    flex-direction: column !important;
  }
}
