@import 'src/styles/variables';

:host {
  display: block;

  ::ng-deep {
    .header-wrap {
      h4 {
        margin: 0;
        font-family: $bitter-font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
      }
    }

    dialog-content {
      font-family: $lato-font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.15px;
      color: rgba(35, 35, 47, 0.8);
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 7px;

      mat-form-field {
        width: 100%;

        .mat-form-field-wrapper {
          .mat-form-field-infix {
            padding: 18px 12px;
            background: #f9fafb;
            border-top: 0;
            border-radius: 4px 4px 0 0;
          }
        }
      }
    }

    dialog-footer {
      margin: 0;
      border-top: 0;
      padding-top: 0;

      dialog-cancel-button {
        margin-right: 8px;
      }
    }
  }
}
